<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a=[]

In [3]:
# print the value of a

print(a)

[]

In [7]:
# print the type of a
print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [20]:
 languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [21]:
print ( len(languages))

5

Using for loop iterate and print all the elements in the list

In [23]:
for i in languages:
    print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [26]:
temp=languages[1]
temp

'Python'

Print the value of temp and type(temp)

In [27]:
print(type (temp))

<class 'str'>

Append the element 'Java' in the list

In [29]:
languages.append("java")
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'java', 'java']

Remove the element 42 from the list and print the list

In [33]:

languages.remove('java')
print(languages)

['R', 'Python', 'SAS', 'Scala', 'java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [46]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [47]:
colors.append('Black')
colors

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [48]:
colors.insert(1,'orange')

colors

['Red', 'orange', 'Blue', 'White', 'Black']

Print the list

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [51]:
colors2 = ['Grey', 'Sky' 'Blue']

Add the elements of colors2 to colors using extend function in the list

In [52]:
colors.extend(colors2)
colors

['Red', 'orange', 'Blue', 'White', 'Black', 'Grey', 'SkyBlue']

Print len of colors and its elements

In [54]:

len(colors)

7

Sort the list and print it.

In [57]:
colors.sort()
colors

['Black', 'Blue', 'Grey', 'Red', 'SkyBlue', 'White', 'orange']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [2]:
sent = "Coronavirus Caused Lockdowns Around The World."
sent

'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [3]:
words=sent.split()
words

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [4]:
words_lower=[word.lower() for word in words]
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [5]:
if 'the' in words_lower:
    
    words_lower.remove('the')
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Remove the element ‘the’ from the list and print the list.

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [6]:
print(words_lower[0:4])

['coronavirus', 'caused', 'lockdowns', 'around']

In [7]:
# print x4

words_lower*3

['coronavirus',
 'caused',
 'lockdowns',
 'around',
 'world.',
 'coronavirus',
 'caused',
 'lockdowns',
 'around',
 'world.',
 'coronavirus',
 'caused',
 'lockdowns',
 'around',
 'world.']

Convert the list of elements to single string using join function and print it

In [13]:
join=' '.join(words_lower)
join

'coronavirus caused lockdowns around world.'

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [30]:
grades = ['A','A','B','C','C','F','d','f']

Print the len of stud_grades

In [31]:
len(grades)

8

Create a new variable, stud_grades_set = set(stud_grades)

In [32]:
grades_set = set(grades)

Print stud_grades_set.

In [33]:
grades_set

{'A', 'B', 'C', 'F', 'd', 'f'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [34]:

print(type(grades))
print(type(grades_set))

<class 'list'>
<class 'set'>

Add a new element ‘G’ to stud_grades_set

In [35]:
grades_set.add('G')
print(grades_set)

{'B', 'd', 'C', 'A', 'F', 'f', 'G'}

Add element 'F' to stud_grades_set. and print it.

In [40]:

grades_set.add('F')
grades_set

{'A', 'B', 'C', 'F', 'G', 'd', 'f'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [41]:

grades_set.remove('F')
grades_set

{'A', 'B', 'C', 'G', 'd', 'f'}

Print the elements and the length of stud_grades_set

In [43]:
print(grades_set)
print(len (grades_set))

{'B', 'd', 'C', 'A', 'f', 'G'}
6

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [47]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [50]:

print('colors=',colors)
print('fruits=',fruits)

colors= ['red', 'blue', 'orange']
fruits= ['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [54]:
colors=set(colors)
fruits=set(fruits)
print('colors=',colors)
print('fruits=',fruits)

colors= {'orange', 'blue', 'red'}
fruits= {'grapes', 'orange', 'apples'}

Find the union of both the sets.

In [55]:
colors.union(fruits)

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [56]:

colors.intersection(fruits)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [58]:
fruits_notcolor=fruits.difference(colors)
fruits_notcolor

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [61]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [63]:

for i in temp:
    print(i)

17
Virat
50.0

replace first element with 11 in temp

In [64]:
temp[0]=11
print(temp)

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [65]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [69]:
for i in temp1:
    print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [71]:
temp2=list(temp1)
temp2[0]=17
temp3=tuple(temp2)
print(temp3)

(17, 'Virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [72]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [73]:
city[0]

'Bangalore'

Create city2 = (‘Chennai’, 30.01, 74)

In [75]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [76]:
cities=(city,city2)

Print cities

In [77]:
cities

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [78]:
cities[0]

('Bangalore', 28.9949521, 72)

print the type of cities

In [80]:
print (type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [81]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [82]:
d[0]

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [85]:
d1=d['actor']
d1

'amir'

Print the type of actor

In [86]:
print(type(d['actor']))

<class 'str'>

Store the value of d[‘list’] in new variable List.

In [88]:
d[list]=list(d)
d[list]

['actor', 'animal', 'earth', 'list', list]

Print the type of List.

In [89]:
print(type(d[list]))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [91]:
 d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [92]:
d.update(d1)

print d

In [93]:
d

{'actor': 'amir',
 'animal': 'cat',
 'earth': 2,
 'list': [23, 32, 12],
 list: ['actor', 'animal', 'earth', 'list', list],
 'singer': 'Kr$na',
 'album': 'Still here',
 'genre': 'hip-hop'}

Print all the keys in d

In [94]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', <class 'list'>, 'singer', 'album', 'genre'])

Print all the values in d

In [95]:
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], ['actor', 'animal', 'earth', 'list', <class 'list'>], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [104]:
for key ,values in d.items():
    print(f"{key} --->{value}")

actor --->hip-hop
animal --->hip-hop
earth --->hip-hop
list --->hip-hop
<class 'list'> --->hip-hop
singer --->hip-hop
album --->hip-hop
genre --->hip-hop

In [101]:
# Iterating over the dictionary and printing key-value pairs
for key, value in d.items():
    print(f"{key} ----> {value}")

actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]
<class 'list'> ----> ['actor', 'animal', 'earth', 'list', <class 'list'>]
singer ----> Kr$na
album ----> Still here
genre ----> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [107]:
count=

NameError: name 'count' is not defined

In [108]:
sent = "Coronavirus Caused Lockdowns Around The World."

# Initialize an empty dictionary to store character counts
char_count = {}

# Iterate over each character in the string
for char in sent:
    # If the character is already in the dictionary, increment its count
    if char in char_count:
        char_count[char] += 1
    # If the character is not in the dictionary, add it with count 1
    else:
        char_count[char] = 1

# Printing the character count dictionary
print(char_count)

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1}